<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<link  rel="icon" href="http://stock.pingan.com/favicon.ico" type="image/x-icon"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
	<!--<meta http-equiv="Cache-Control" content="max-age=2592000" />-->
	<title>平安证券理财频道 - <%= data.title %></title>
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="applicable-device" content="mobile">
	<link rel="stylesheet" id="app-css-link" href="/css/index.css" type="text/css" />
	<script type="text/javascript">
		
	</script>
</head>
