$blue: #3bbfce;

$margin: 16px;

.content{
  border-color: $blue;
  color:darken($blue, 9%);
}

.border {
  top:$margin*3;
  position: absolute;
  padding: $margin / 2;
  margin: auto;
  border:$margin / 8 solid $blue;
  border-radius:$margin;
  font-size: $margin*3;
}
